---

name: CI Workflow

on: push

permissions:
  contents: read

jobs:
  docker-publish:
    defaults:
      run:
        shell: bash

    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          show-progress: false

      - name: Log into registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Build
        run: |
          docker buildx build \
            --no-cache \
            --pull \
            --tag ghcr.io/${GITHUB_REPOSITORY,,}:$(awk -F: '/FROM.*argocd/{print $2}' Dockerfile | cut -d '@' -f 1) \
            .

      - name: Docker Push
        run: |
          docker push ghcr.io/${GITHUB_REPOSITORY,,}:$(awk -F: '/FROM.*argocd/{print $2}' Dockerfile | cut -d '@' -f 1)
        if: ${{ github.ref == 'refs/heads/master' }}

...
